@font-face {
  src: url(font/09c8fb44d2c62d99647e4ce58736293e.woff2);
  font-family: HM;
  background-color: white;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  margin-top: 34px;
  height: 151px;
  display: flex;
}
.searchbar {
  flex: 25%;
}
.searcharea {
  width: 40%;
  margin-left: 5%;
  margin-top: 2.5%;
  border-bottom: 1px solid black;
  display: flex;
}
.searchicon {
  width: 30px;
  height: 30px;
}
.searchfield {
  font-family: HM, sans-serif;
  font-size: 15px;
  padding-left: 5%;
  border: none;
}
.logo {
  flex: 50%;
}
.logoimage {
  height: 65%;
  font-family: HM, sans-serif;
  color: red;
  text-align: center;
  font-size: 55px;
  padding-left: 33.3%;
  display: flex;
}
.category1 {
  text-align: center;
  margin-left: 27.5%;
  width: 50%;
  display: flex;
  font-family: HM, sans-serif;
  font-size: 16px;
  background-position: center;
}
.Ladies1 {
  flex: 20%;
}
.Ladies1:hover {
  border-bottom: 1px solid black;
}
.Men1 {
  flex: 20%;
}
.Men1:hover {
  border-bottom: 1px solid black;
}
.Baby1 {
  flex: 20%;
}
.Baby1:hover {
  border-bottom: 1px solid black;
}
.Kids1 {
  flex: 20%;
}
.Kids1:hover {
  border-bottom: 1px solid black;
}
.Sale1 {
  flex: 20%;
}
.Sale1:hover {
  border-bottom: 1px solid black;
}
.dropbtn1 {
  border: none;
  background: transparent;
  text-align: center;
  margin-left: 37px;
}
.dropbtn1 p {
  text-align: center;
  font-family: HM;
  font-size: 16px;
  padding-top: 2px;
}
.dropbtn1:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  font-family: HM;
  font-size: 13px;
  min-width: 160px;
  border-bottom: 5px solid black;
  z-index: 1;
}
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content1 a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content1 {
  display: block;
}
.r1 {
  display: flex;
  padding-top: 30px;
}
.c1 {
  flex: 25%;
}
.c1 a {
  width: 200px;
  padding-top: 0;
}
.c2 {
  flex: 25%;
}
.c2 a {
  width: 200px;
  padding-top: 0;
}
.c3 {
  flex: 25%;
}
.c3 a {
  width: 200px;
  padding-top: 0;
}
.c4 {
  flex: 25%;
}
.c4 a {
  width: 200px;
  padding-top: 0;
}
.kategory {
  font-weight: bold;
}
.logo img {
  width: 150px;
  margin-left: 46%;
  margin-top: 1%;
}
.menu {
  flex: 25%;
}
.dropbtn {
  background-color: white;
  padding: 16px;
  border: none;
  display: flex;
}
.dropbtn p {
  text-align: center;
  font-family: HM;
  font-size: 13px;
  padding-left: 8px;
  padding-top: 2px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: HM;
  font-size: 13px;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  cursor: pointer;
  background-color: #f1f1f1;
}

.account {
  flex: 33.3%;
  height: 30px;
  background: transparent;
  border: none;
  display: flex;
}
.account a {
  padding-top: 1%;
  margin-left: 5%;
  font-size: 13px;
  font-family: HM, sans-serif;
}
.wishlist {
  flex: 33.3%;
  display: flex;
}
.wishlist a {
  padding-top: 1%;
  margin-left: 5%;
  font-size: 13px;
  font-family: HM, sans-serif;
}
.cart {
  flex: 33.3%;
  display: flex;
}
.cart a {
  padding-top: 1%;
  margin-left: 5%;
  font-size: 13px;
  font-family: HM, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
p {
  color: black;
}
.bodypart {
  display: flex;
  height: 4490px;
}
.start1 {
  flex: 20%;
}
.middle1 {
  flex: 60%;
}
.end1 {
  flex: 20%;
}
.announcement {
  height: 600px;
  margin-top: 20px;
  background-color: crimson;
}
.firstline1 {
  text-align: center;
  font-size: 33px;
  font-family: HM, sans-serif;
  padding-top: 150px;
}
.secondline1 {
  text-align: center;
  font-size: 88px;
  font-family: HM, sans-serif;
  font-weight: bold;
}
.category2 {
  display: flex;
}
.start2 {
  flex: 30%;
}
.middle2 {
  padding-top: 15%;
  flex: 40%;
  width: 100%;
  height: 100%h;
  display: flex;
  font-family: HM, sans-serif;
  font-size: 15px;
  text-align: center;
}
.women2 {
  flex: 25%;
  background-color: white;
}
.women2:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.men2 {
  flex: 25%;
  background-color: white;
  margin-left: 2%;
  margin-right: 1%;
}
.men2:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.kids2 {
  flex: 25%;
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
}
.kids2:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.baby2 {
  flex: 25%;
  background-color: white;
  margin-left: 1%;
}
.baby2:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.end2 {
  flex: 30%;
}
.shopnow {
  flex: 25%;
  background-color: white;
}
.shopnow:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.trending {
  margin-top: 40px;
  font-family: HM, sans-serif;
}
.trendingtext {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.firstline3 {
  display: flex;
  padding-top: 35px;
}
.secondline3 {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}
.card {
  flex: 12.5%;
  padding-left: 17px;
}
.card img {
  border-radius: 50%;
}
.card img:hover {
  cursor: pointer;
}
.firstline4 {
  font-size: 0.8125rem;
  color: #707070;
  font-weight: 600;
  text-align: center;
}
.secondline4 {
  font-size: 0.8125rem;
  font-weight: bold;
  text-align: center;
}
.announcement1 {
  margin-top: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url(https://github.com/shudhanshu0011/fashionfirst/blob/master/images/5.jpg?raw=true);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}
.announcement1:hover {
  cursor: pointer;
}
.announcement2:hover {
  cursor: pointer;
}
.announcement3:hover {
  cursor: pointer;
}
.announcement4:hover {
  cursor: pointer;
}
.announcement2 {
  margin-top: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url(https://github.com/shudhanshu0011/fashionfirst/blob/master/images/6.jpg?raw=true);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}
.announcement3 {
  margin-top: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url(https://github.com/shudhanshu0011/fashionfirst/blob/master/images/7.jpg?raw=true);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}
.announcement4 {
  margin-top: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url(https://github.com/shudhanshu0011/fashionfirst/blob/master/images/8.jpg?raw=true);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}
.category3 {
  display: flex;
}
.start3 {
  flex: 44%;
  position: relative;
}
.end3 {
  flex: 44%;
}
.middle3 {
  flex: 12%;
  text-align: center;
  font-family: HM, sans-serif;
  margin-top: 25px;
}
.firstline2 {
  color: white;
  text-align: center;
  font-size: 42px;
  font-family: HM, sans-serif;
  font-weight: bold;
  padding-top: 500px;
}
.secondline2 {
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: HM, sans-serif;
  padding-top: 8px;
}
.row {
  height: 250px;
  margin: 0px;
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: HM, sans-serif;
  font-size: 13px;
  line-height: 200%;
  background-color: rgb(204, 185, 161);
}
.column1 {
  flex: 20%;
  padding-left: 5%;
  text-align: left;
  margin-top: 2%;
}
.column1 a:hover {
  text-decoration: underline;
}
.column2 {
  flex: 20%;
  padding-left: 4%;
  text-align: left;
  margin-top: 2%;
}
.column2 a:hover {
  text-decoration: underline;
}
.column3 {
  flex: 20%;
  padding-left: 3%;
  text-align: left;
  margin-top: 2%;
}
.column3 a:hover {
  text-decoration: underline;
}
.column4 {
  flex: 20%;
  padding-left: 2%;
  text-align: left;
  margin-top: 2%;
}
.column4 a:hover {
  text-decoration: underline;
}
.column5 {
  flex: 20%;
  padding-left: 1;
  text-align: left;
  margin-top: 2%;
  margin-right: 2%;
}
.endimg {
  padding-left: 37.5%;
  padding-right: 37.5%;
  background-color: rgb(204, 185, 161);
}
